@font-face {
    font-family: 'franchise';
    src: url('../fonts/franchise-bold-webfont.eot');
    src: url('../fonts/franchise-bold-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/franchise-bold-webfont.woff') format('woff'),
         url('../fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('../fonts/franchise-bold-webfont.svg#franchiseregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ciria';
    src: url('../fonts/ciriabold-webfont.eot');
    src: url('../fonts/ciriabold-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/ciriabold-webfont.woff') format('woff'),
         url('../fonts/ciriabold-webfont.ttf') format('truetype'),
         url('../fonts/ciriabold-webfont.svg#ciria_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}